{% extends "index.html" %}
{% block content %}

<main class="post">
    <div class="post_container">
        <form action="#" method="post">
            <h2>
                Add you'r group
            </h2>
            <input type="text" name="group-name" placeholder="Group name" required>
            <input type="url" name="group-url" placeholder="Group link" required>
            <textarea name="group-des" placeholder="Group description" required></textarea>
            <label for="group-dp">Upload your group's icon</label>
            <input type="file" name="group-dp" required>
            <input type="submit" value="Create">
        </form>
    </div>
</main>

{% endblock %}