{% extends "index.html" %}
{% block content %}


<main>
    <div class="hero_banner">
        <h1>
            Doors to the shopping journey.
        </h1>
    </div>
    <div class="w-cards">

{% for group in groups %}

        <div class="w-card">
            <div class="w-img">
                <img src="{{ group.dp }}" alt="group icon">
            </div>

            <div class="w-content">
                <h3>
                    {{ group.name }}
                </h3>
            </div>
            <a href="/view">
                <button>
                    View
                </button>
            </a>
        </div>
{% endfor %}

    </div>

</main>


{% endblock %}