{% extends "index.html" %}
{% block content %}


<main>
    <div class="hero_banner">
        <h1>
            Doors to the shopping journey.
        </h1>
    </div>


    <div class="w-cards">
        <div class="w-card">
            <div class="w-img">
                <img src="https://images.pexels.com/photos/325876/pexels-photo-325876.jpeg" alt="group icon">
            </div>

            <div class="w-content">
                <h3>
                    Group Name
                </h3>
            </div>

            <button>
                View
            </button>

        </div>

        <div class="w-card">
            <div class="w-img">
                <img src="https://images.pexels.com/photos/325876/pexels-photo-325876.jpeg" alt="group icon">
            </div>

            <div class="w-content">
                <h3>
                    Group Name
                </h3>
            </div>

            <button>
                View
            </button>

        </div>

        <div class="w-card">
            <div class="w-img">
                <img src="https://images.pexels.com/photos/325876/pexels-photo-325876.jpeg" alt="group icon">
            </div>

            <div class="w-content">
                <h3>
                    Group Name
                </h3>
            </div>

            <button>
                View
            </button>

        </div>

        <div class="w-card">
            <div class="w-img">
                <img src="https://images.pexels.com/photos/325876/pexels-photo-325876.jpeg" alt="group icon">
            </div>

            <div class="w-content">
                <h3>
                    Group Name
                </h3>
            </div>

            <button>
                View
            </button>

        </div>






        


    </div>
</main>


{% endblock %}