{% extends "index.html" %}
{% block content %}

<div class="view_container">

    <div class="view_card">
        <div class="view_dp">
            <img src="https://images.pexels.com/photos/325876/pexels-photo-325876.jpeg" alt="Group DP">
        </div>
        <h2>Group Name</h2>
        <div class="vew_des">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Non consectetur a erat nam at. Lectus sit amet est placerat in egestas erat imperdiet sed.
            </p>
        </div>
        <a href="#">
            <button>Join</button>
        </a>
    </div>

</div>


{% endblock %}